.cabecalho {
    color: var(--branco);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    /* unidade de medida em (variável) = referente a tag size mãe do elemento que usamos o em, ou seja se eu usar no head, ela vai ficar só no head
    rem (variavel baseado na raiz)= referente a maior tag de nivel hierarquico no html, ou seja conforme a tela muda o tamanho da fonte da pagina, tpo zoom, ele aumenta minha fonte que usa essa unidade 
    (obs 16 px padrão de navegador)*/

    border-bottom: 1px solid var(--borda-cabecalho-mobile);
    position: absolute;
}

.cabecalho__logo {
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

@media screen and (min-width: 1024px){
    .cabecalho{
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }

}
